@import './../../node_modules/bulma/bulma.sass';

$gris-fonce: rgb(100, 100, 100);
$gris-clair: rgb(221, 221, 221);

.calculatrice {
  display: grid;
  grid-template-areas:
    'disp disp disp disp'
    'ac ac divi mult'
    'seven eight nine mini'
    'for five six addi'
    'one two three equ'
    'zero zero dec equ';
  max-width: 550px;
  margin: auto;
}

.bt {
  background-color: $gris-clair;
  color: white;
  border-radius: 6px;
  border: 1px solid $gris-fonce;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1.25rem;
  margin: 0.25rem 0.25rem;
  text-align: center;
}

.num {
  color: $gris-fonce;
}

.op {
  background-color: $gris-fonce;
  color: white;
}

.box:not(:last-child) {
  margin-bottom: 0;
}

.screen {
  grid-area: disp;
  background-color: black;
  color: greenyellow;
}
.display {
  font-size: 2rem;
}

.input-line {
  text-align: right;
  color: white;
}

.ac {
  grid-area: ac;
  background-color: rgb(177, 0, 0);
}

.divi {
  grid-area: divi;
}

.mult {
  grid-area: mult;
}

.min {
  grid-area: mini;
}

.add {
  grid-area: addi;
}

.equ {
  grid-area: equ;
  background-color: rgb(77, 124, 185);
}

.nine {
  grid-area: nine;
}

.eight {
  grid-area: eight;
}

.seven {
  grid-area: seven;
}

.six {
  grid-area: six;
}

.five {
  grid-area: five;
}

.for {
  grid-area: for;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}
.one {
  grid-area: one;
}
.zero {
  grid-area: zero;
}
