@import './../../node_modules/bulma/bulma.sass';

.calculatrice {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'disp disp disp disp'
    'ac ac divi mult'
    'seven eight nine mini'
    'for five six addi'
    'one two three equ'
    'zero zero dec equ';
  max-width: 650px;
}
.bt {
  background-color: rgb(221, 221, 221);
  color: dargray;
  border-radius: 6px;
  border: 1px solid rgb(100, 100, 100);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1.25rem;
  margin: 0.25rem 0.25rem;
}
.box:not(:last-child) {
  margin-bottom: 0;
}

.display {
  grid-area: disp;
  background-color: black;
  color: greenyellow;
}
.ac {
  grid-area: ac;
}
.divi {
  grid-area: divi;
}
.mult {
  grid-area: mult;
}
.min {
  grid-area: mini;
}
.add {
  grid-area: addi;
}
.equ {
  grid-area: equ;
}
.nine {
  grid-area: nine;
}
.eight {
  grid-area: eight;
}
.seven {
  grid-area: seven;
}
.six {
  grid-area: six;
}
.five {
  grid-area: five;
}
.for {
  grid-area: for;
}
.three {
  grid-area: three;
}
.two {
  grid-area: two;
}
.one {
  grid-area: one;
}
.zero {
  grid-area: zero;
}
